body {
	font-family: Arial, sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5;

	background-color: #FFFFCC;
}

*
{
	box-sizing: border-box;
}

.title {
	text-align: start;
}

.memes {
	width: 38rem;
	margin: auto;
	cursor: pointer;
}

.memes-item {
	border-top: 0.2rem solid #808080;
	margin-bottom: 1rem;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.memes-title {
	display: block;
	color: #3333FF;
	cursor: pointer;
	transition: color 0.2s ease-out;
	padding: 0.5rem 1rem;
}

.memes-title:hover{
	color: #808080;
}

.memes-image {
	display: none;
	padding: 0.5rem 12rem;
	transform: scale(0.6);
    transition: transform 0.5s linear;
}

.meme {
	width: 20rem;
	height: 20rem;
}

.memes-input {
	width: 0;
	height: 0;
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
}


.fa {
	transition: all 0.2s;
	display: block;
	color: #3333FF;
	cursor: pointer;
	padding: 0.5rem 1rem;
	display: none;
}

.memes-input:checked + .memes-image{
	display: block;
}

.memes-input:active ~ .memes-image {
	opacity: 0.33;
	transition: 0s ease-in-out;
}

.memes:active {
	color: #808080;
}

.memes-input:hover + .memes-image {
	display: block;
	transform: scale(1);
}

.memes-item:hover .fa {
	transform: rotate(45deg);
	color:#808080;
}